@model Admin.Models.AdPublishViewModel

<div class="form-group">
    @Html.LabelFor(model => model.AdID, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.AdID, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(model => model.AdID)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.AdName, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.AdName, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(model => model.AdName)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.ImageUrl, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
    <div class="col-md-10">
        <img src="@Url.Content(Model.ImageUrl)" alt="@Model.ImageUrl" class="img-responsive" />
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Position, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
    <div class="col-md-10 col-sm-9 col-xs-12">
        @Html.DropDownListFor(m => m.Position, ViewBag.Positions as SelectList, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Position)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Order, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
    <div class="col-md-10 col-sm-9 col-xs-12">
        @Html.DropDownListFor(m => m.Order, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Order)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.DeployedDays, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
    <div class="col-md-10 col-sm-9 col-xs-12">
        @Html.TextBoxFor(m => m.DeployedDays, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DeployedDays)
    </div>
</div>