@model Frontend.Models.ChangePasswordViewModel
@using Store.Service.Helper
@{
    ViewBag.Title = "MyOrder";
}

<div class="wrapper">
    <div class="index_middle">

        <div class="Co_LC_L">
            <div class="left_block">
                @Html.Partial("_AccountLayoutMenu")
            </div>
        </div>
        <div class="Co_LC_Ce">
            <div class="clearfix">
                <h4 class="title_item3 pull-left">@Resource.ChangePassword</h4>
            </div>
            <div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="account_info form-horizontal">
                        <div class="form-group">
                            <span class="control-label col-md-4 col-sm-5 col-xs-12">@Html.DisplayNameFor(m => m.OldPassword):</span>
                            <div class="col-md-8 col-sm-7 col-xs-12">
                                @Html.PasswordFor(m => m.OldPassword, new
                               {
                                   @class = "form-control"
                               })
                                @Html.ValidationMessageFor(m => m.OldPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="control-label col-md-4 col-sm-5 col-xs-12">@Html.DisplayNameFor(m => m.NewPassword):</span>
                            <div class="col-md-8 col-sm-7 col-xs-12">
                                @Html.PasswordFor(m => m.NewPassword, new
                               {
                                   @class = "form-control"
                               })
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-4 col-sm-5 col-xs-12">@Html.DisplayNameFor(m => m.ConfirmPassword):</span>
                            <div class="col-md-8 col-sm-7 col-xs-12">
                                @Html.PasswordFor(m => m.ConfirmPassword, new
                               {
                                   @class = "form-control"
                               })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="pull-right">
                                <input type="submit" value='@Resource.Save' class="btn btn-primary" />
                                @Html.ActionLink(Resource.Skip, "Info", "Account", null, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>