
@model  PagedList.IPagedList<Admin.Models.PublishedContentViewModel>
@using PagedList.Mvc;


@Styles.Render("~/Content/pagedList")
<div id="watting_content">
   
    <table class="table table-hover">
        <thead class="thead-inverse">
            <tr>
                <th class="width-7">
                    @Html.DisplayName(@Resource.Headline)
                </th>
                <th class="width-7">
                    @Html.DisplayName(@Resource.RejectedReasons)
                </th>
                <th class="width-6">
                    @Html.DisplayName(@Resource.Action)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Headline
                    </td>
                    <td>
                        @item.RejectReason
                    </td>
                    <td>
                        <div class="btn-group">
                            <a href="@Url.Action("Edit", new { id = item.ContentID })" class="btn btn-default">
                                <i class="fa fa-pencil" aria-hidden="true"></i> @Resource.Edit
                            </a>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>

                            <ul class="dropdown-menu btn-dropdown-menu" role="menu">
                                <li>
                                    <a href="@Url.Action("Details", new { id = item.ContentID })">
                                        <i class="fa fa-eye" aria-hidden="true"></i> @Resource.View
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Delete", new { id = item.ContentID })">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i> @Resource.Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a href="@Url.Action("Publishing", new { id = item.ContentID })" class="btn btn-default">
                            <i class="fa fa-share-square-o" aria-hidden="true"></i> @Resource.Publishing
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<div class="pull-left">
    @string.Format(Resource.PaginationTxt, Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber, @Model.PageCount)
</div>
<div class="pull-right">
    @Html.PagedListPager(Model, page => Url.Action("ListWaiting",
        new { page }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() {
            HttpMethod = "GET", UpdateTargetId = "list", OnSuccess = string.Format("UpdatePagingAjaxUrl(this)") }))
</div>
