@model IPagedList<DiscountTypeMappingViewModel>

@using Admin.Models;
@using PagedList;
@using PagedList.Mvc;
@using Store.Service.ProductServices;

@{
    string ColumnName = "";
    string UpdateTarget = "";

    DiscountType type = (DiscountType) ViewBag.DiscountTypeID;

    if (type == DiscountType.AssignedToBrand)
    {
        ColumnName = @Resource.Brand;
        UpdateTarget = "listBrandApplied";
    }
    else if (type == DiscountType.AssignedToCategories)
    {
        ColumnName = @Resource.ProductGroup;
        UpdateTarget = "listProductGroupApplied";
    }
    else if (type == DiscountType.AssignedToProducts)
    {
        ColumnName = @Resource.Product;
        UpdateTarget = "listProductApplied";
    }
      
}


<div class="form-horizontal">
    <table class="table table-hover">
        <thead class="thead-inverse">
            <tr>
                <th class="width-16">
                    @ColumnName
                </th>
                <th class="width-4">
                    @Resource.Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.EntityName</td>
                    <td>
                        <div class="btn-group">
                            @Ajax.FontawsomeActionLink("fa-trash-o", @Resource.Delete, "DeleteItemApplied", new { id = @item.ID, DiscountID = @item.DiscountID },
                            new AjaxOptions { UpdateTargetId = @UpdateTarget, InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, new { @class = "btn btn-default" })

                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                        </div>

                    </td>
                </tr>
            }
        </tbody>

        @if (Model.Count != 0)
        {
            <tfoot>
                <tr>
                    <td colspan="2" style="border: none">
                        <div class="pull-right">
                            @Html.PagedListPager(Model, page => Url.Action("ListApplied", new { page, @Model.First().DiscountTypeID, DiscountID = Model.First().DiscountID }),
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = @UpdateTarget }))
                        </div>
                    </td>
                </tr>
            </tfoot>
        }
    </table>
    <hr />
</div>
