@model Admin.Models.AgencyViewModel


@{
    ViewBag.Title = Resource.SaleSystem;
}

<div class="page-title">
    <div class="title_left">
        <h3>
            @Resource.SaleSystem
            <small>@Resource.Delete</small>
        </h3>
    </div>
</div>

<div class="main-content">
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span><i class="fa fa-bullhorn" style="padding-right: 7px" aria-hidden="true"></i>@Resource.AlertDelete</span>
        </div>

        @Html.DisplayForModel()
        @using (Html.BeginForm())
        {
            @Html.Hidden("ReturnUrl", (string)ViewBag.ReturnUrl)
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-offset-2 col-sm-offset-3 col-md-10 col-sm-9 col-xs-12">
                    <input type="submit" value="@Resource.Delete" class="btn btn-primary" />
                    <a href="@(ViewBag.ReturnUrl?? @Url.Action("Index"))" class="btn btn-default">@Resource.BackToList</a>
                </div>
            </div>
        }
    </div>
</div>


