@model Admin.Models.AgencyViewModel

@{
    ViewBag.Title = Resource.SaleSystem;
}

<div class="page-title">
    <div class="title_left">
        <h3>
            @Resource.SaleSystem
            <small>@Resource.Detail</small>
        </h3>
    </div>
</div>

<div class="main-content">
    <div class="form-horizontal">
        @Html.DisplayForModel()

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-offset-2 col-sm-offset-3 col-md-10 col-sm-9 col-xs-12">
                    <a href="@(ViewBag.ReturnUrl ?? @Url.Action("Index"))" class="btn btn-default">@Resource.BackToList</a>
                </div>
            </div>
        }
    </div>
</div>
