@using PagedList.Mvc

@model PagedList.IPagedList<Admin.Models.AccountViewModel>

@Styles.Render("~/Content/pagedList")

<table class="table table-hover">
    <thead class="thead-inverse">
        <tr>
            <th class="width-5">@Html.DisplayNameFor(model => model.FirstOrDefault().UserName)</th>
            <th class="width-3">@Html.DisplayNameFor(model => model.FirstOrDefault().Name)</th>
            <th class="width-6">@Html.DisplayNameFor(model => model.FirstOrDefault().Email)</th>
            <th class="width-3">@Html.DisplayNameFor(model => model.FirstOrDefault().PhoneNumber)</th>
            <th class="width-3">@Resource.Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>
                    <div class="btn-group">
                        <a href="@Url.Action("Update", new { id = item.Id })" class="btn btn-default">
                            <i class="fa fa-pencil" aria-hidden="true"></i> @Resource.Edit
                        </a>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>

                        <ul class="dropdown-menu btn-dropdown-menu" role="menu">
                            <li>
                                <a href="@Url.Action("Detail", new { id = item.Id })">
                                    <i class="fa fa-eye" aria-hidden="true"></i> @Resource.View
                                </a>
                            </li>
                            <li>
                                @if (item.Id != 1)
                                {
                                    <a href="@Url.Action("Delete", new { id = item.Id })">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i> @Resource.Delete
                                    </a>
                                }
                            </li>
                            <li>
                                <a href="@Url.Action("ChangePassword", new { id = item.Id })">
                                    <i class="fa fa-key" aria-hidden="true"></i> @Resource.ChangePassword
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pull-left">
    @string.Format(Resource.PaginationTxt, Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber, @Model.PageCount)
</div>
<div class="pull-right">
    @Html.PagedListPager(Model, page => Url.Action("AccountList",
        new { page, role = ViewBag.Role, startWith = @ViewBag.StartWith }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() {
            HttpMethod = "GET", UpdateTargetId = "list", OnSuccess = string.Format("UpdatePagingAjaxUrl(this)") }))
</div>