@model Admin.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = Resource.ForgetPassword;
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div>
    <a class="hiddenanchor" id="signin"></a>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                @using (Html.BeginForm(""))
                {
                    <h1>@Resource.ForgetPassword</h1>

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div>
                        @Html.ValidationMessageFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new
                        {
                           @class = "form-control",
                           @placeholder = Html.DisplayPlaceHolderFor(model => model.Email)
                        })
                    </div>
                    <div class="clearfix">
                        <input type="submit" class="btn btn-default submit" value="@Resource.Confirm" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="separator">
                        <div>
                            <h1><i class="fa fa-paw"></i> TABWEB!</h1>
                            <p>©2016 All Rights Reserved</p>
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>