@model Admin.Models.ProductVersionViewModel

@Html.HiddenFor(m => m.ProductVersionID)
@Html.HiddenFor(m => m.ProductID)

@for (int i = 0; i < Model.ListGroupProperties.Count; i++)
{
    <div class="form-group">
        @Html.Label(Model.ListGroupProperties[i].Name, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
        <div class="col-md-10 col-sm-9 col-xs-12">
            @Html.TextBoxFor(model => model.ListGroupProperties[i].ValueName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
}

<div class="form-group">
    @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
    <div class="col-md-10 col-sm-9 col-xs-12">
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Thumbnail, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
    <div class="col-md-10 col-sm-9 col-xs-12">
        @if(string.IsNullOrEmpty(Model.Thumbnail))
        {
            <img src="@Model.Thumbnail"/>
        }
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.ImageUrls, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
    <div class="col-md-10 col-sm-9 col-xs-12">
        @for (int i = 0; i < Model.ListImages.Count(); i++)
        {
            @Html.TextBoxFor(model => model.ListImages[i], new { @class = "form-control", @readonly = "readonly" })
        }
        
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.InventoryNumber, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
    <div class="col-md-10 col-sm-9 col-xs-12">
        @Html.TextBoxFor(model => model.InventoryNumber, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.DefaultPrice, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
    <div class="col-md-10 col-sm-9 col-xs-12">
        @Html.TextBoxFor(model => model.DefaultPrice, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.OriginalPrice, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
    <div class="col-md-10 col-sm-9 col-xs-12">
        @Html.TextBoxFor(model => model.OriginalPrice, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Priority, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
    <div class="col-md-10 col-sm-9 col-xs-12">
        @Html.TextBoxFor(model => model.Priority, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
    <div class="col-md-10 col-sm-9 col-xs-12">
        @Html.TextBoxFor(model => model.StatusString, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>