@model IEnumerable<Frontend.Models.ProductBoxViewModel>

<section class="home-product--new">
    <div class="home-section_wrapper">
        <div class="home-section_top">
            <div class="home-section_icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                    <path d="M51.875 45H47.4275C47.9595 44.4842 48.351 43.8411 48.5648 43.1316C48.7787 42.4221 48.8078 41.6698 48.6494 40.9459C48.4911 40.2221 48.1504 39.5506 47.6599 38.9953C47.1693 38.4399 46.545 38.019 45.8462 37.7725C46.4569 37.2917 46.9272 36.6557 47.2078 35.9309C47.4884 35.2061 47.569 34.4192 47.4412 33.6525C47.3134 32.8859 46.982 32.1676 46.4815 31.573C45.981 30.9784 45.3298 30.5292 44.5962 30.2725C45.2069 29.7917 45.6772 29.1557 45.9578 28.4309C46.2384 27.7061 46.319 26.9192 46.1912 26.1525C46.0634 25.3859 45.732 24.6676 45.2315 24.073C44.731 23.4784 44.0798 23.0292 43.3462 22.7725C44.057 22.2102 44.5746 21.4402 44.8271 20.5699C45.0796 19.6995 45.0543 18.7721 44.7548 17.9167C44.4554 17.0614 43.8966 16.3207 43.1564 15.7979C42.4161 15.2751 41.5312 14.9962 40.625 15H36.2075C35.9912 11.0313 33.7725 8.75 30 8.75C26.2275 8.75 24.0088 11.0313 23.7925 15H19.375C18.4688 14.9962 17.5839 15.2751 16.8436 15.7979C16.1034 16.3207 15.5446 17.0614 15.2452 17.9167C14.9457 18.7721 14.9204 19.6995 15.1729 20.5699C15.4254 21.4402 15.943 22.2102 16.6537 22.7725C15.9201 23.0292 15.269 23.4784 14.7685 24.073C14.268 24.6676 13.9365 25.3859 13.8088 26.1525C13.681 26.9192 13.7616 27.7061 14.0422 28.4309C14.3228 29.1557 14.7931 29.7917 15.4037 30.2725C14.6701 30.5292 14.019 30.9784 13.5185 31.573C13.018 32.1676 12.6865 32.8859 12.5588 33.6525C12.431 34.4192 12.5116 35.2061 12.7922 35.9309C13.0728 36.6557 13.5431 37.2917 14.1537 37.7725C13.455 38.019 12.8307 38.4399 12.3401 38.9953C11.8496 39.5506 11.5089 40.2221 11.3506 40.9459C11.1922 41.6698 11.2213 42.4221 11.4352 43.1316C11.649 43.8411 12.0405 44.4842 12.5725 45H8.125C7.95924 45 7.80027 45.0658 7.68306 45.1831C7.56585 45.3003 7.5 45.4592 7.5 45.625V50.625C7.5 50.7908 7.56585 50.9497 7.68306 51.0669C7.80027 51.1842 7.95924 51.25 8.125 51.25H51.875C52.0408 51.25 52.1997 51.1842 52.3169 51.0669C52.4342 50.9497 52.5 50.7908 52.5 50.625V45.625C52.5 45.4592 52.4342 45.3003 52.3169 45.1831C52.1997 45.0658 52.0408 45 51.875 45ZM30 10C33.8013 10 34.84 12.5875 34.9825 15H25.0175C25.16 12.5875 26.1987 10 30 10ZM16.25 19.375C16.25 18.5462 16.5792 17.7513 17.1653 17.1653C17.7513 16.5792 18.5462 16.25 19.375 16.25H40.625C41.4538 16.25 42.2487 16.5792 42.8347 17.1653C43.4208 17.7513 43.75 18.5462 43.75 19.375C43.75 20.2038 43.4208 20.9987 42.8347 21.5847C42.2487 22.1708 41.4538 22.5 40.625 22.5H19.375C18.5462 22.5 17.7513 22.1708 17.1653 21.5847C16.5792 20.9987 16.25 20.2038 16.25 19.375ZM15 26.875C15 26.0462 15.3292 25.2513 15.9153 24.6653C16.5013 24.0792 17.2962 23.75 18.125 23.75H41.875C42.7038 23.75 43.4987 24.0792 44.0847 24.6653C44.6708 25.2513 45 26.0462 45 26.875C45 27.7038 44.6708 28.4987 44.0847 29.0847C43.4987 29.6708 42.7038 30 41.875 30H18.125C17.7146 30 17.3083 29.9192 16.9291 29.7621C16.55 29.6051 16.2055 29.3749 15.9153 29.0847C15.6251 28.7945 15.3949 28.45 15.2379 28.0709C15.0808 27.6917 15 27.2854 15 26.875ZM13.75 34.375C13.75 33.5462 14.0792 32.7513 14.6653 32.1653C15.2513 31.5792 16.0462 31.25 16.875 31.25H43.125C43.9538 31.25 44.7487 31.5792 45.3347 32.1653C45.9208 32.7513 46.25 33.5462 46.25 34.375C46.25 35.2038 45.9208 35.9987 45.3347 36.5847C44.7487 37.1708 43.9538 37.5 43.125 37.5H16.875C16.0462 37.5 15.2513 37.1708 14.6653 36.5847C14.0792 35.9987 13.75 35.2038 13.75 34.375ZM12.5 41.875C12.5 41.0462 12.8292 40.2513 13.4153 39.6653C14.0013 39.0792 14.7962 38.75 15.625 38.75H44.375C45.2038 38.75 45.9987 39.0792 46.5847 39.6653C47.1708 40.2513 47.5 41.0462 47.5 41.875C47.5 42.7038 47.1708 43.4987 46.5847 44.0847C45.9987 44.6708 45.2038 45 44.375 45H15.625C14.7962 45 14.0013 44.6708 13.4153 44.0847C12.8292 43.4987 12.5 42.7038 12.5 41.875ZM51.25 50H8.75V46.25H51.25V50Z"
                          fill="#1A8AE4" />
                </svg>
            </div>
            <h2 class="home-section_title">
                Những sản phẩm mới nhất
            </h2>
            <div class="home-section_desc">
                <p>
                    Libero volutpat sed cras ornare arcu. Eget nullam non nisi est sit
                    amet facilisis. Massa sed elementum tempus egestas sed sed risus.
                    Eget mi proin sed libero enim sed faucibus turpis.
                </p>
            </div>
        </div>
    </div>
    <div class="home-product_body container">
        @foreach (var product in @Model)
        {
            <div class="home-product--new_item card_two">
                <div class="card_two__thumbnail">
                    <a href="@Url.CustomAction(Store.Service.SystemService.RoutingType.Product, @product.ProductID)">
                    <img src="@product.ImageUrl" alt="" loading="lazy" /></a>
                </div>
                <div class="card_two__content">
                    <span class="card_two__label">Học cụ cho trẻ 0-3</span>
                    <a href="@Url.CustomAction(Store.Service.SystemService.RoutingType.Product, @product.ProductID)" class="card_two__title">
                        <h3 class="card_two__title">@product.Title</h3>
                    </a>
                    <div class="card_two__desc">
                        <span>Độ tuổi: </span>
                        <strong>0-1 tuổi</strong>
                    </div>
                    <div class="card_two__price">
                        <span class="price">@string.Format("{0:n0}", @product.Price) VNĐ</span>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="home-product_action text-center">
        <a href="/hoc-cu-cho-tre-0-3" class="btn btn-default btn-fix-content">Xem cửa hàng</a>
    </div>
</section>
