@model Frontend.Models.LayoutContentViewModel
@using PagedList.Mvc;
@using PagedList;
@using Frontend.Infrastructure.ExtensionMethod;
@using Frontend.Infrastructure.Utility;
@using Frontend.Infrastructure.Helpers;

@{
    ViewBag.Title = Model.Group.Title;
    ViewBag.Description = Model.Group.Description.RemoveHtml();
    if (!string.IsNullOrEmpty(Model.Group.ImageUrl))
    {
        ViewBag.Image = Url.Content(Model.Group.ImageUrl, true);
    }
    string ComponentViewPath = "~/Themes/" + TabWeb.GetCurrentTheme() + "/Views/Component/{0}.cshtml";
}

<main class="page-category">
    <section class="banner-page" style="background-image: url('@Model.Group.BannerUrl')">
        <div class="container">
            <div class="banner-content">
                <h2>@Model.Group.Title</h2>
                @Html.Raw(Model.Group.Description)
                <a href="/hoc-cu-cho-tre-0-3" class="btn btn-outline">CỬA HÀNG</a>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="breadcrumb">
            @Html.Breadcrumb(Frontend.Infrastructure.Utility.BreadcrumbType.Group, Model.Group.GroupID, new { @class = "" })
        </div>    </div>
    <div class="page-category--body container">
        @if (Model.ListContent.Any())
        {
            var index = 0;
            <div class="home-about--item container">
                @foreach (var item in Model.ListContent)
                {
                    var className = index % 2 == 0 ? "home-about--item_right" : "home-about--item_left";
                    <div class="home-about--item_wrapper @className template">
                        <div class="home-about--item_content template-content">
                            <div class="template-content--wrapper">
                                <h3 class="template-title">
                                    @item.Headline
                                </h3>
                                <div class="template-desc">
                                    <p>
                                        @item.Summary.RemoveHtml()
                                    </p>
                                </div>
                                <div class="template-action">
                                    <a href="@Url.CustomAction(Store.Service.SystemService.RoutingType.Content, item.ContentID)" class="btn btn-outline">KHÁM PHÁ CHI TIẾT</a>
                                </div>
                            </div>
                        </div>
                        <div class="home-about--item_thumbnail template-thumbnail">
                            <a href="@Url.CustomAction(Store.Service.SystemService.RoutingType.Content, item.ContentID)">
                                <img src="@item.PictureUrl" alt="@item.Headline" loading="lazy" />
                            </a>
                        </div>
                    </div>
                    index++;
                }
            </div>
        }
    </div>
    @{Html.RenderAction(MVC.Component.Display(8, "Catalog"));}
</main>


